.dark-medium-contrast {
  --md-sys-color-primary: rgb(203 196 255);
  --md-sys-color-surface-tint: rgb(199 191 255);
  --md-sys-color-on-primary: rgb(18 0 87);
  --md-sys-color-primary-container: rgb(143 134 222);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(204 198 238);
  --md-sys-color-on-secondary: rgb(21 18 48);
  --md-sys-color-secondary-container: rgb(145 140 178);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 176 251);
  --md-sys-color-on-tertiary: rgb(46 0 50);
  --md-sys-color-tertiary-container: rgb(192 119 190);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 19 24);
  --md-sys-color-on-background: rgb(229 225 233);
  --md-sys-color-surface: rgb(20 19 24);
  --md-sys-color-on-surface: rgb(254 249 255);
  --md-sys-color-surface-variant: rgb(71 69 81);
  --md-sys-color-on-surface-variant: rgb(205 201 215);
  --md-sys-color-outline: rgb(164 161 175);
  --md-sys-color-outline-variant: rgb(132 129 142);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 225 233);
  --md-sys-color-inverse-on-surface: rgb(42 41 47);
  --md-sys-color-inverse-primary: rgb(69 60 143);
  --md-sys-color-primary-fixed: rgb(228 223 255);
  --md-sys-color-on-primary-fixed: rgb(14 0 72);
  --md-sys-color-primary-fixed-dim: rgb(199 191 255);
  --md-sys-color-on-primary-fixed-variant: rgb(51 40 124);
  --md-sys-color-secondary-fixed: rgb(228 223 255);
  --md-sys-color-on-secondary-fixed: rgb(16 13 43);
  --md-sys-color-secondary-fixed-dim: rgb(200 194 234);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 50 82);
  --md-sys-color-tertiary-fixed: rgb(255 214 249);
  --md-sys-color-on-tertiary-fixed: rgb(38 0 41);
  --md-sys-color-tertiary-fixed-dim: rgb(251 172 247);
  --md-sys-color-on-tertiary-fixed-variant: rgb(89 27 93);
  --md-sys-color-surface-dim: rgb(20 19 24);
  --md-sys-color-surface-bright: rgb(58 56 62);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(28 27 32);
  --md-sys-color-surface-container: rgb(32 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
}
