.dark {
  --md-sys-color-primary: rgb(199 191 255);
  --md-sys-color-surface-tint: rgb(199 191 255);
  --md-sys-color-on-primary: rgb(45 34 118);
  --md-sys-color-primary-container: rgb(26 7 100);
  --md-sys-color-on-primary-container: rgb(168 158 248);
  --md-sys-color-secondary: rgb(200 194 234);
  --md-sys-color-on-secondary: rgb(48 45 76);
  --md-sys-color-secondary-container: rgb(63 59 92);
  --md-sys-color-on-secondary-container: rgb(213 207 248);
  --md-sys-color-tertiary: rgb(251 172 247);
  --md-sys-color-on-tertiary: rgb(83 20 87);
  --md-sys-color-tertiary-container: rgb(59 0 64);
  --md-sys-color-on-tertiary-container: rgb(219 143 216);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 24);
  --md-sys-color-on-background: rgb(229 225 233);
  --md-sys-color-surface: rgb(20 19 24);
  --md-sys-color-on-surface: rgb(229 225 233);
  --md-sys-color-surface-variant: rgb(71 69 81);
  --md-sys-color-on-surface-variant: rgb(201 196 211);
  --md-sys-color-outline: rgb(146 143 156);
  --md-sys-color-outline-variant: rgb(71 69 81);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 225 233);
  --md-sys-color-inverse-on-surface: rgb(49 48 54);
  --md-sys-color-inverse-primary: rgb(92 83 167);
  --md-sys-color-primary-fixed: rgb(228 223 255);
  --md-sys-color-on-primary-fixed: rgb(23 3 98);
  --md-sys-color-primary-fixed-dim: rgb(199 191 255);
  --md-sys-color-on-primary-fixed-variant: rgb(68 58 141);
  --md-sys-color-secondary-fixed: rgb(228 223 255);
  --md-sys-color-on-secondary-fixed: rgb(27 23 54);
  --md-sys-color-secondary-fixed-dim: rgb(200 194 234);
  --md-sys-color-on-secondary-fixed-variant: rgb(70 67 100);
  --md-sys-color-tertiary-fixed: rgb(255 214 249);
  --md-sys-color-on-tertiary-fixed: rgb(55 0 59);
  --md-sys-color-tertiary-fixed-dim: rgb(251 172 247);
  --md-sys-color-on-tertiary-fixed-variant: rgb(109 45 111);
  --md-sys-color-surface-dim: rgb(20 19 24);
  --md-sys-color-surface-bright: rgb(58 56 62);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(28 27 32);
  --md-sys-color-surface-container: rgb(32 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
}
