@import url(./../font/export.css);
@import url(./bootstrap.min.css);
@import url(./theme.css);

:root{
    --dz-clock-font-family: "default";
    --md-filled-button-label-text-font: var(--dz-clock-font-family);
}

body{
    font-family: var(--dz-clock-font-family);
}
