.dark {
  --md-sys-color-primary: rgb(255 255 255);
  --md-sys-color-surface-tint: rgb(146 213 169);
  --md-sys-color-on-primary: rgb(0 57 31);
  --md-sys-color-primary-container: rgb(159 228 182);
  --md-sys-color-on-primary-container: rgb(0 74 42);
  --md-sys-color-secondary: rgb(178 205 184);
  --md-sys-color-on-secondary: rgb(30 53 38);
  --md-sys-color-secondary-container: rgb(44 68 52);
  --md-sys-color-on-secondary-container: rgb(190 218 196);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(0 54 64);
  --md-sys-color-tertiary-container: rgb(158 222 240);
  --md-sys-color-on-tertiary-container: rgb(0 70 83);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 20 17);
  --md-sys-color-on-background: rgb(225 227 222);
  --md-sys-color-surface: rgb(17 20 17);
  --md-sys-color-on-surface: rgb(225 227 222);
  --md-sys-color-surface-variant: rgb(64 73 66);
  --md-sys-color-on-surface-variant: rgb(191 201 191);
  --md-sys-color-outline: rgb(138 147 138);
  --md-sys-color-outline-variant: rgb(64 73 66);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 227 222);
  --md-sys-color-inverse-on-surface: rgb(46 49 46);
  --md-sys-color-inverse-primary: rgb(40 106 70);
  --md-sys-color-primary-fixed: rgb(173 242 196);
  --md-sys-color-on-primary-fixed: rgb(0 33 16);
  --md-sys-color-primary-fixed-dim: rgb(146 213 169);
  --md-sys-color-on-primary-fixed-variant: rgb(6 82 48);
  --md-sys-color-secondary-fixed: rgb(205 233 211);
  --md-sys-color-on-secondary-fixed: rgb(8 32 19);
  --md-sys-color-secondary-fixed-dim: rgb(178 205 184);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 76 60);
  --md-sys-color-tertiary-fixed: rgb(172 237 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 38);
  --md-sys-color-tertiary-fixed-dim: rgb(144 208 226);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 78 92);
  --md-sys-color-surface-dim: rgb(17 20 17);
  --md-sys-color-surface-bright: rgb(54 58 55);
  --md-sys-color-surface-container-lowest: rgb(11 15 12);
  --md-sys-color-surface-container-low: rgb(25 28 25);
  --md-sys-color-surface-container: rgb(29 32 29);
  --md-sys-color-surface-container-high: rgb(39 43 40);
  --md-sys-color-surface-container-highest: rgb(50 54 50);
}
